<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Log In</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
</head>
<body style="background: #17a2b8">

<nav th:replace="fragments/navbar::nav"></nav>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <br/>
                    <h5 class="card-title text-center">Log in</h5>
                    <form  th:replace="fragments/logForm::logIn-form"></form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>